:host {
  display: block;
  max-width: 1300px;
  margin: auto;
  height: 100vh;

  ::ng-deep {
    .header {
      .p-menubar {
        padding: 16px;
        border-radius: 0 0 8px 8px;
        background-color: var(--surface-c);
      }
    }

    .header-end .header-end__language-selector {
      .p-dropdown {
        width: 150px;
      }
    }

    .header-end .header-end__theme-selector {
      .p-dropdown {
        width: 170px;
      }
    }
  }
}

.header-start {
  &__title {
    margin: 0;
    color: var(--primary-color);
  }
}

.header-end {
  display: flex;
  gap: 8px;
}
