:host {
  display: block;
  max-width: 1300px;
  margin: auto;
  height: 100vh;

  ::ng-deep {
    .database-loader-header {
      .p-menubar {
        padding: 16px;
        border-radius: 0 0 8px 8px;
      }
    }

    .database-loader-header-end {
      .p-dropdown {
        width: 150px;
      }
    }
  }
}

.database-loader-header-start {
  &__title {
    margin: 0;
    color: var(--primary-color);
  }
}

.database-loader-header-end {
  display: flex;
  gap: 8px;
}
