<p-menubar class="header">
  <ng-template pTemplate="start">
    <div class="header-start">
      <h1 class="header-start__title">Passfather</h1>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="header-end">
      <p-dropdown
        class="header-end__language-selector"
        [options]="availableLanguages"
        [ngModel]="selectedLanguage"
        (onChange)="translocoService.setActiveLang($event.value)"
      >
        <ng-template
          pTemplate="selectedItem"
          let-selectedLanguage
        >
          {{ 'languages.' + selectedLanguage | transloco }}
        </ng-template>

        <ng-template
          let-language
          pTemplate="item"
        >
          {{ 'languages.' + language | transloco }}
        </ng-template>
      </p-dropdown>

      <p-dropdown
        class="header-end__theme-selector"
        [options]="availableThemes"
        [ngModel]="selectedTheme$ | async"
        (onChange)="themeService.setTheme($event.value)"
      >
        <ng-template
          pTemplate="selectedItem"
          let-selectedTheme
        >
          {{ 'themes.' + selectedTheme | transloco }}
        </ng-template>

        <ng-template
          let-theme
          pTemplate="item"
        >
          {{ 'themes.' + theme | transloco }}
        </ng-template>
      </p-dropdown>
    </div>
  </ng-template>
</p-menubar>

<router-outlet />
